#### Second Approach:

In [24]:
import pandas as pd

In [25]:
# Read the CSV file
df = pd.read_csv('dataset.csv')

df.head()

   id   text  lemma  upos xpos  head deprel  start_char  end_char
0   1     اس     یہ   DET  DEM     2    det           0         2
1   2  سلسلے  سلسلہ  NOUN   NN     5   nmod           3         8
2   3     کی     کا   ADP  PSP     2   case           9        11
3   4   دیگر   دیگر   ADJ   JJ     5   amod          12        16
4   5  اقساط  اقساط  NOUN   NN     7  nsubj          17        22

#### Preprocessing

In [26]:
data = df.drop(columns=['id'])

In [27]:
import numpy as np

# Create a new column 'y' with default value 'S_M'
data['y'] = 'S_M'

# Iterate through the rows to assign 'S_E' and 'S_B'
for i in range(len(data) - 1):
    # Check if the current word ends with a full stop
    if data.loc[i, 'text'].endswith('۔'):
        data.loc[i, 'y'] = 'S_E'  # Sentence End
        # Assign 'S_B' to the next word
        if i + 1 < len(data):
            data.loc[i + 1, 'y'] = 'S_B'  # Sentence Beginning

# Convert 'y' column to categorical type (optional, for ML efficiency)
data['y'] = data['y'].astype('category')

# Display the first few rows to verify
data.head(10)

    text  lemma   upos xpos  head  deprel  start_char  end_char    y
0     اس     یہ    DET  DEM     2     det           0         2  S_M
1  سلسلے  سلسلہ   NOUN   NN     5    nmod           3         8  S_M
2     کی     کا    ADP  PSP     2    case           9        11  S_M
3   دیگر   دیگر    ADJ   JJ     5    amod          12        16  S_M
4  اقساط  اقساط   NOUN   NN     7   nsubj          17        22  S_M
5   یہاں   یہاں   PRON  PRP     7     obl          23        27  S_M
6  پڑھیے    پڑھ   VERB   VM     0    root          28        33  S_M
7      ۔      ۔  PUNCT  SYM     7   punct          33        34  S_E
8     یہ     یہ   PRON  PRP     3   nsubj          36        38  S_B
9   کیسے   کیسا   PRON   WQ     3  advmod          39        43  S_M

In [29]:
import numpy as np

# Create a new column 'y' with default value 'S_M'
data['y'] = 'S_M'

# Iterate through the rows to assign 'S_E' and 'S_B'
for i in range(len(data) - 1):
    # Check if the current word ends with a full stop
    if data.loc[i, 'text'].endswith('۔'):
        data.loc[i, 'y'] = 'S_E'  # Sentence End
        # Assign 'S_B' to the next word
        if i + 1 < len(data):
            data.loc[i + 1, 'y'] = 'S_B'  # Sentence Beginning

# Map categorical labels to numeric values
label_mapping = {'S_E': 1, 'S_B': 2, 'S_M': 3}
data['y'] = data['y'].map(label_mapping)

# Verify the result
data.head(10)

    text  lemma   upos xpos  head  deprel  start_char  end_char  y
0     اس     یہ    DET  DEM     2     det           0         2  3
1  سلسلے  سلسلہ   NOUN   NN     5    nmod           3         8  3
2     کی     کا    ADP  PSP     2    case           9        11  3
3   دیگر   دیگر    ADJ   JJ     5    amod          12        16  3
4  اقساط  اقساط   NOUN   NN     7   nsubj          17        22  3
5   یہاں   یہاں   PRON  PRP     7     obl          23        27  3
6  پڑھیے    پڑھ   VERB   VM     0    root          28        33  3
7      ۔      ۔  PUNCT  SYM     7   punct          33        34  1
8     یہ     یہ   PRON  PRP     3   nsubj          36        38  2
9   کیسے   کیسا   PRON   WQ     3  advmod          39        43  3

In [30]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [31]:
# One-hot encode 'upos', 'xpos', and 'deprel'
encoder = OneHotEncoder(sparse=False)
encoded_cats = encoder.fit_transform(data[['upos', 'xpos', 'deprel']])

# Convert to DataFrame for easier merging
encoded_cats_df = pd.DataFrame(encoded_cats, columns=encoder.get_feature_names_out())

# Concatenate encoded features back to the dataset
data = pd.concat([data.reset_index(drop=True), encoded_cats_df], axis=1)

# Drop the original categorical columns (optional)
data = data.drop(columns=['upos', 'xpos', 'deprel'])

c:\Users\Kanza Nasim\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [32]:
# Select the numerical features to normalize
numerical_features = ['start_char', 'end_char', 'head']

# Option 2: Standard Scaling (zero mean and unit variance)
standard_scaler = StandardScaler()
data[numerical_features] = standard_scaler.fit_transform(data[numerical_features])

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Combine text and lemma columns into a single string representation (if needed)
data['text_lemma'] = data['text'] + " " + data['lemma']

# Initialize TF-IDF Vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=500)  # Adjust max_features as needed

# Fit and transform the combined text and lemma
tfidf_features = tfidf_vectorizer.fit_transform(data['text_lemma'])

# Convert the sparse matrix to a DataFrame for better integration
tfidf_df = pd.DataFrame(tfidf_features.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

# Add the TF-IDF features back to the original DataFrame
data = pd.concat([data.reset_index(drop=True), tfidf_df], axis=1)

# Drop the original text and lemma columns (optional)
data = data.drop(columns=['text', 'lemma', 'text_lemma'])

In [34]:
data.head(10)

,head,start_char,end_char,y,upos_ADJ,upos_ADP,upos_ADV,upos_AUX,upos_CCONJ,upos_DET,...,ہوں,ہی,ہیں,ہے,یا,یعنی,یقینا,یہ,یہاں,یہی
0,-1.051740,-1.732661,-1.732666,3,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.646811,0.0,0.0
1,-0.857181,-1.732652,-1.732647,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,-1.051740,-1.732634,-1.732638,3,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3,-0.857181,-1.732625,-1.732623,3,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,-0.727474,-1.732609,-1.732604,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
5,-0.727474,-1.732591,-1.732589,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.0,0.0
6,-1.181446,-1.732575,-1.732571,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
7,-0.727474,-1.732560,-1.732568,1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
8,-0.986887,-1.732551,-1.732555,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.000000,0.0,0.0
9,-0.986887,-1.732542,-1.732540,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0