In [31]:
import pandas as pd

In [32]:
# Read the CSV file
df = pd.read_csv('dataset.csv')

df.head()

   id   text  lemma  upos xpos  head deprel  start_char  end_char
0   1     اس     یہ   DET  DEM     2    det           0         2
1   2  سلسلے  سلسلہ  NOUN   NN     5   nmod           3         8
2   3     کی     کا   ADP  PSP     2   case           9        11
3   4   دیگر   دیگر   ADJ   JJ     5   amod          12        16
4   5  اقساط  اقساط  NOUN   NN     7  nsubj          17        22

In [33]:
data = df.drop(columns=['id'])

In [34]:
data['y'] = data['text'].apply(lambda x: 1 if x in ['۔'] else 0)

In [35]:
data

          text  lemma   upos  xpos  head deprel  start_char  end_char  y
0           اس     یہ    DET   DEM     2    det           0         2  0
1        سلسلے  سلسلہ   NOUN    NN     5   nmod           3         8  0
2           کی     کا    ADP   PSP     2   case           9        11  0
3         دیگر   دیگر    ADJ    JJ     5   amod          12        16  0
4        اقساط  اقساط   NOUN    NN     7  nsubj          17        22  0
...        ...    ...    ...   ...   ...    ...         ...       ... ..
254923     طرح    طرح   NOUN    NN    58    obl     1130329   1130332  0
254924   نکالا   نکال   VERB    VM    44    obj     1130333   1130338  0
254925  جاسکتا   جاسک    AUX  VAUX    58    aux     1130339   1130345  0
254926      ہے     ہے    AUX  VAUX    58    aux     1130346   1130348  0
254927       ۔      ۔  PUNCT   SYM    58  punct     1130348   1130349  1

[254928 rows x 9 columns]

In [36]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [37]:
# One-hot encode 'upos', 'xpos', and 'deprel'
encoder = OneHotEncoder(sparse=False)
encoded_cats = encoder.fit_transform(data[['upos', 'xpos', 'deprel']])

# Convert to DataFrame for easier merging
encoded_cats_df = pd.DataFrame(encoded_cats, columns=encoder.get_feature_names_out())

# Concatenate encoded features back to the dataset
data = pd.concat([data.reset_index(drop=True), encoded_cats_df], axis=1)

# Drop the original categorical columns (optional)
data = data.drop(columns=['upos', 'xpos', 'deprel'])

c:\Users\Kanza Nasim\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [38]:
# Select the numerical features to normalize
numerical_features = ['start_char', 'end_char', 'head']

# Option 2: Standard Scaling (zero mean and unit variance)
standard_scaler = StandardScaler()
data[numerical_features] = standard_scaler.fit_transform(data[numerical_features])

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Combine text and lemma columns into a single string representation (if needed)
data['text_lemma'] = data['text'] + " " + data['lemma']

# Initialize TF-IDF Vectorizer
tfidf_vectorizer = TfidfVectorizer(max_features=500)  # Adjust max_features as needed

# Fit and transform the combined text and lemma
tfidf_features = tfidf_vectorizer.fit_transform(data['text_lemma'])

# Convert the sparse matrix to a DataFrame for better integration
tfidf_df = pd.DataFrame(tfidf_features.toarray(), columns=tfidf_vectorizer.get_feature_names_out())

# Add the TF-IDF features back to the original DataFrame
data = pd.concat([data.reset_index(drop=True), tfidf_df], axis=1)

# Drop the original text and lemma columns (optional)
data = data.drop(columns=['text', 'lemma', 'text_lemma'])

In [40]:
# Define the feature matrix (drop 'y') and target
X = data.drop(columns=['y'])
y = data['y']

In [41]:
from sklearn.model_selection import train_test_split

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [42]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

# Initialize Decision Tree classifier
dt = DecisionTreeClassifier(random_state=42)

# Train the Decision Tree model
dt.fit(X_train, y_train)

# Predict on the test set
y_pred_dt = dt.predict(X_test)

# Evaluate the performance
print("Decision Tree Performance:")
print(classification_report(y_test, y_pred_dt))

Decision Tree Performance:
              precision    recall  f1-score   support

           0       0.99      0.99      0.99     49154
           1       0.73      0.69      0.71      1832

    accuracy                           0.98     50986
   macro avg       0.86      0.84      0.85     50986
weighted avg       0.98      0.98      0.98     50986